*{
  box-sizing: border-box;
}
body{
  background-color: #5cdb95;
}
.App{
  width: 60%;
  max-width: 40rem;
  margin: auto;
  color:#05386B;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#preview,#editor{
  border: 3px solid black;
  min-height: 40vh;
  background-color: #EDF5E1;
}
#preview img{
  width: 100%;
}
